{% extends 'base.html' %}

{% block title %}Danh sách sản phẩm{% endblock %}

{% block content %}
<div class="row my-4">
	{% for product in products %}
	<div class="col-md-4">
	  <div class="card-body">
	  	<img class="card-img-top" src="{{product.image}}" alt="#">
	    <h4 class="card-title">{{product.title}} <span class="bg-danger text-light font-weight-bold">{{product.label}}</span></h4>
	    <p class="card-text font-weight-bold text-dark">Price: ${{product.price|floatformat:2}}</p>
	    <p class="card-text">{{product.description}}</p>
	    <a class="btn btn-dark" href="{% url 'sales:add-to-cart' product.id %}">Add to Cart</a>
	  </div>
	</div>
	{% endfor %}
</div>
{% endblock %}